@model IEnumerable<MVC_EF_Start.Models.Placed>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PlacedDate)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacedOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacedProduct)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlacedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacedOrder.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlacedProduct.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
